:root {
    --dark-cyan: hsl(158, 36%, 37%);
    --cream: hsl(30, 38%, 92%);
    --very-dark-blue: hsl(212, 21%, 14%);
    --dark-grayish-blue: hsl(228, 12%, 48%);
    --white: hsl(0, 0%, 100%);
    --fraunces: 'Fraunces', serif;
    --montserrat: 'Montserrat', sans-serif;
}

body {
	background-color: var(--cream);
    font-size: 14px;
    font-family: var(--montserrat);
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    min-height: 100vh;
}

h1 {
    font-size: 32px;
    line-height: 2rem;
    color: var(--very-dark-blue);
}

h1, #sale-price {
    font-family: var(--fraunces);
}

p, h1 {
    padding: 0px 20px 0px 20px;
}

button {
    color: white;
    font-size: 14px;
    font-weight: 700;
    font-family: var(--montserrat);
    padding: 13px 100px;
    margin: 0px 0px 20px 20px;
    background-color: var(--dark-cyan);
    border: 1px solid var(--dark-cyan);
    border-radius: 7px;
    margin-bottom: 25px;
}

button:hover {
    background-color: hsl(158, 37%, 13%);
    border: 1px solid hsl(158, 37%, 13%);
}

.card-text {
    width: 350px;
    background-color: var(--white);
    border-radius: 0px 0px 10px 10px;
}

.perfume, .regular-price, .card-info {
    color: var(--dark-grayish-blue);
}

.perfume-bottle {
    width: 350px;
    border-radius: 10px 10px 0px 0px;
    position: relative;
    top: 18px;
}

.desktop-perfume-bottle {
    display: none;
}

.perfume {
    letter-spacing: .3rem;
    margin-bottom: 0px;
    padding-top: 15px;
    position: relative;
    top: 10px;
    font-size: 12px;
}

.card-info {
    line-height: 1.5rem;
}

.prices {
    display: flex;
    flex-direction: row;
}

.sale-price {
    color: var(--dark-cyan);
    font-size: 32px;
    padding: 20px 20px 0px 20px;
    margin: 15px 0px 15px 0px;
}

.regular-price {
    align-self:center;
    text-decoration: line-through;
    position: relative;
    top: 7px;
}

.cart-icon {
    position: relative;
    top: 3px;
    padding-right: 5px;
}



/*desktop styling*/

@media (min-width: 900px) {
    img {
        border-radius: 10px 0px 0px 10px;
    }
    
    button {
        display: block;
        margin: 0 auto;
        padding: 14px 74px;
    }
    
    .whole-card {
        display: flex;
    }

    .card-text {
        width: 285px;
        padding: 10px 10px 10px 10px;
        border-radius: 0px 10px 10px 0px;
    }

    .sale-price {
        padding-top: 0px;
        padding-bottom: 10px;
    }

    .regular-price {
        padding-bottom: 20px;
    }

    .card-info {
        padding-right: 35px;
    }

    .perfume {
        padding-top: 0px;
    }

    .perfume-bottle {
        display:none;
    }

    .desktop-perfume-bottle {
        display: block;
        width: 300px;
    }
}